body {
    background-color: hsl(30, 54%, 90%);
}

.Preperation-Time {
    color: hsl(332, 51%, 32%);
}

.Ingredients {
    color: hsl(14, 45%, 36%);
}

.Instructions {
    color: hsl(14, 45%, 36%);

}

.Nutrition {
    color: hsl(14, 45%, 36%);

}